//
// Grid / Type Fixing
// --------------------------------------------------

$resize-factor: 16

@mixin font-size($sizeValue: 1.6)
	font-size: ($sizeValue * $resize-factor) + px
	font-size: $sizeValue + rem

@mixin line-height($sizeValue: 1.6)
	line-height: ($sizeValue * $resize-factor) + px
	line-height: $sizeValue + rem

@mixin font-smoothing
	-webkit-font-smoothing: antialiased