//
// Meta / Breakpoitns
// --------------------------------------------------

$handheld-min:	300px
$handheld-max:	767px
$tablet-min:		768px
$tablet-max:		1024px
$desktop-min:		1025px
$desktop-max:		1480px

@mixin breakpoint($point)
	@if $point == desktop
		@media only screen and (min-width: $desktop-min)
			@content

	@if $point == tablet
		@media only screen and (min-width: $tablet-min) and (max-width: $tablet-max)
			@content

	@if $point == handheld
		@media only screen and (min-width: $handheld-min) and (max-width: $handheld-max)
			@content

// helper classes
// -------------------------

// show only on handheld
.handheld-only
	display: none !important

	@include breakpoint(handheld)
		display: block !important

// hide from handheld
.handheld-hide
	@include breakpoint(handheld)
		display: none !important