//
// Meta / Font Kit
// Set up Typekit or Google Fonts
// --------------------------------------------------

// Standard font (unused thus far)
$serif: Georgia, Times	

// Via Typekit (Grid license)
$sans: 	"futura-pt", Helvetica, Arial				
 
@mixin serif($weight:regular)
	@if $weight == "regular"
		font-family: $serif
		font-weight: 400

	@if $weight == "bold"
		font-family: $serif
		font-weight: 700	
	
@mixin sans($weight:regular)
	@if $weight == "regular"
		font-family: $sans
		font-weight: 400
		@include font-smoothing

	@if $weight == "medium"
		font-family: $sans
		font-weight: 500
		@include font-smoothing	

	@if $weight == "bold"
		font-family: $sans
		font-weight: 700
		@include font-smoothing