//
// Meta / Icons
// --------------------------------------------------

// Set up the font

// @font-face
// 	font-family: 1776-icons
// 	font-weight: normal
// 	font-style: normal
// 	src: url("fonts/1776-icons.eot")
// 	src: url("fonts/1776-icons.eot?#iefix") format("embedded-opentype"),url("fonts/1776-icons.woff") format("woff"),url("fonts/1776-icons.ttf") format("truetype"),url("fonts/1776-icons.svg#1776-icons") format("svg")

// Set icon variables

// Make them usable
@mixin icon($icon, $position:after)

	&:#{$position}
		content: $icon
		@include font-smoothing
		font-family: '1776-icons'
		speak: none
		font-style: normal
		font-weight: normal
		font-variant: normal
		text-transform: none
		line-height: 1

	& > .screen-reader-text
		display: none