//
// Meta / Structure
// --------------------------------------------------

body
  @include sans
  background: darken(#333333, 10%)
	
main
  @include span-columns(12)
  background-color: $white
  min-height: 500px
	
.wrapper
  width: 100%
  max-width: $tablet-max
  margin: 0 auto
  padding: 0 20px

// utilities
.no-pad
  padding: 0


// Helper class to split content into two columns on desktop
.rail
  @include span-columns(12)

  &:first-child
    padding: 20px 0 0

  @include breakpoint(desktop)
    @include span-columns(6)
    padding: 20px 0

#pagination
  @include span-columns(12)
  text-align: center
  padding: 40px 0

body
  &.single-post
    li
      &.menu-item-27
        a
          color: $primary-a

          &:after
            color: #333