//
// Meta / Typography
// --------------------------------------------------

// Make them usable
@mixin icon($icon, $position:"after")

  &:#{$position}
    content: $icon
    @include font-smoothing
    font-family: 'FontAwesome'
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1

  & > .screen-reader-text
    display: none

    