{% extends "base.twig" %}
{% block content %}
	{% include "fragments/selected-articles.twig" %}
	<div class="wrapper error">
		<h1 class="alert">404</h1>
		<p>Unfortunately the page you requested does not exist or is unavailable. Please use the menu above or <a href="{{ site.url }}/?s=">search</a> to find the content you are looking for.</p>
	</div>
{% endblock %}