{% include "fragments/meta.twig" %}
<body class="{{ body_class }}">
{% include 'fragments/header.twig' %}
{% include 'fragments/nav.twig' %}
<main>	
{% block content %}
{% endblock %}
</main>
{% include 'fragments/footer.twig' %}
{{ function('wp_footer') }}
{% block footer_scripts %}
{% endblock %}
{# print an edit button if logged in as admin #}
{% if is_admin %}
  <a href="{{ post.id | admin_button }}" class="edit-page">Edit</a>
{% endif %}
</body>
</html>