{## 
 # template name: calendar
 # source: page-calendar.php 
 #}

{% set hero_top_obj = TimberImage(post.hero_top) %}
{% set hero_bottom_obj = TimberImage(post.hero_bottom) %}

{% extends "base.twig" %}
{% block content %}

  {% include "fragments/hero-title.twig" %}
  <section class="text">
    <div class="wrapper">
      {{ post.content }}
    </div>
  </section>
  <section class="calendar">
    <div class="wrapper">

      <h2>Upcoming Shows</h2>
      <ul class="gigs">
      {% for show_obj in shows %}
        {% set show = TimberPost(show_obj) %}
        <li class="gig">
          {% if show.venue_website %}
          <a href="{{ show.venue_website }}">
          {% endif %}
            <time datetime="{{ show.show_date | date('Y-m-d') }}">{{ show.show_date | date('m/d/y') }}</time>
            <span class="location">{{ show.city_state }} @ {{ show.venue }}</span>
            <span class="time">{{ show.showtime }}</span>
          {% if show.venue_website %}
          </a>
          {% endif %}
        </li>
      {% endfor %}      
      </ul>

      <h2>Past Shows</h2>
      <ul class="gigs">
      {% for show_obj in past_shows %}
        {% set show = TimberPost(show_obj) %}
        <li class="gig">
          {% if show.venue_website %}
          <a href="{{ show.venue_website }}">
          {% endif %}
            <time datetime="{{ show.show_date | date('Y-m-d') }}">{{ show.show_date | date('m/d/y') }}</time>
            <span class="location">{{ show.city_state }} @ {{ show.venue }}</span>
            <span class="time">{{ show.showtime }}</span>
          {% if show.venue_website %}
          </a>
          {% endif %}
        </li>
      {% endfor %}      
      </ul>      

    </div>
  </section>
{% endblock %}