{## 
 # template name: gallery
 # source: page-gallery.php 
 #}

{% set hero_top_obj = TimberImage(post.hero_top) %}
{% set hero_bottom_obj = TimberImage(post.hero_bottom) %}

{% extends "base.twig" %}
{% block content %}

gallery

{% endblock %}