{% extends "base.twig" %}
{% set hero_top_obj = TimberImage(post.hero_top) %}
{% block content %}
  {% include "fragments/hero-title.twig" %}
  <section class="text">
    <div class="wrapper">
      {{ post.content }}
    </div>
  </section>	
{% endblock %}