{## 
 # template name: news listing
 # source: page-news-listing.php 
 #}

{% set hero_top_obj = TimberImage(hero) %}

{% extends "base.twig" %}
{% block content %}

  <section class="hero {% if hero == "" %}non-heroic{% endif %} ">
    {% if hero %}
    <img 
      class="respond"
      src="{{ hero_top_obj.src('hero_short_handheld') }}"
      data-maxwidth767px="{{ hero_top_obj.src('hero_short_handheld') }}"
      data-maxwidth1024px="{{ hero_top_obj.src('hero_short_tablet') }}"
      data-minwidth1025px="{{ hero_top_obj.src('hero_short') }}"
      width="800" height="600" 
      alt="{{ hero_top_obj.thumbnail.alt }}">
    <div class="overlay">
      <h1>{{ news_title }}</h1>
    </div>
    {% else %}
      <h1>{{ news_title }}</h1>
    {% endif %}
</section>

  {# get intro #}
  
  <section class="text">
    <div class="wrapper">
      {{ post.content }}
    </div>
  </section>
  
  <section class="calendar">
    <div class="wrapper posts">
      {% for post in posts %}
      <article class="listed">
        <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
        <time datetime="{{ post.post_date | date('Y-m-d') }}">{{ post.post_date | date}}</time>
        <p>{{ post.post_content | excerpt(30) }}</p>
      </article>
      {% endfor %}
    </div>
    <div id="pagination">
  {% if pagination.next %}
  <a id="load-more" href="{{pagination.next.link}}" class="button {{pagination.next.link|length ? '' : 'invisible'}}">Load <span id="next-count"></span> More</a>
  {% endif %}
</div>
  </section>
{% endblock %}