{# 
  template name: style
  source: page-style.php 
#}

<html>
<head>
  <title>Style Guide</title>
  <style type="text/css">

    /* contains the section */
    section.guide {
      width: 100%;
      float: left;
      border-bottom: 1px solid #f1f1f1;
      padding: 40px;
    }

    /* introduces the section */
    h1.guide {
      font-family: Helvetica;
      font-size: 1.0em; 
      color: #333;
      text-transform: uppercase;
    }

    /* shows the code and classes */
    h2.label {
      font-family: courier;
      font-size: 0.75em; 
      color: #666666;
      margin: 0 0 20px;
      background: #eaeaea;
      padding: 5px 10px;
    }

    p.instruction {
      font-family: Helvetica;
      font-size: 0.85rem;
      line-height: 1.0rem;
      color: #333;
    }

    /* line break for elements */
    .element {
      width: 100%;
      float: left;
      margin-bottom: 20px;
    }

  </style>
  {# Typekit Account (AMS license) #}
  <script src="//use.typekit.net/lgp4iyn.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  {# Cloud Typography Account (Grid license) #}
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/667694/642226/css/fonts.css" />  
  <link rel="stylesheet" type="text/css" href="http://local.1776dc.com/assets/themes/1776/style.css">
</head>
<body>
  <section class="guide" id="intro">
    <h1 class="guide">Intro</h1>
    <p class="instruction">Each element style in the site should be accounted for here. At present this excludes module layouts and is scoped to fonts, type elements, links, lists and color palette.</p>
  </section>
  {#
  <section class="guide" id="typography">
    <h1 class="guide">Fonts</h1>
    <h2 class="label">serif</h2>
    <h1>Tisa Regular</h1>
    <h1>Tisa Bold</h1>  
  </section>
  <section class="guide" id="colors">
    <h1 class="guide">Colors</h1>
    <h2 class="label">h1</h2>
    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
  </section>
  #}
  <section class="guide" id="buttons">
    <h1 class="guide">Buttons</h1>
    <article class="element">
      <h2 class="label">.button.primary</h2>
      <a class="button primary" href="#">Primary Button</a>
    </article>
    <article class="element">
      <h2 class="label">.button.secondary</h2>
      <a class="button secondary" href="#">Secondary Button</a>
    </article>
  </section>


</body>
</html>

