{## 
 # template name: bio
 # source: page-bio.php 
 #}

{% set hero_top_obj = TimberImage(post.hero_top) %}
{% set hero_bottom_obj = TimberImage(post.hero_bottom) %}

{% extends "base.twig" %}
{% block content %}

  {% include "fragments/hero-title.twig" %}
  <section class="text">
    <div class="wrapper">
      {{ post.content }}
    </div>
  </section>

  <section class="gallery" id="gallery">
    <div class="wrapper">
      <h2>Photo Gallery</h2>
      {# gallery #}
      {% for image_obj in post.get_field('gallery') %}
        {% set img = TimberImage(image_obj) %}
        <a href="{{ img.src('large') }}" class="gallery-thumb" title="{{ img.alt }}">
          <img src="{{ img.src('gallery_thumb') }}">
          <span class="overlay"></span>
        </a>
      {% endfor %}
    </div>
  </section>
{% endblock %}
{% block footer_scripts %}
<script type="text/javascript">
  $(document).ready(function() {
    $('.gallery').magnificPopup({
      delegate: 'a',
      type: 'image',
      tLoading: 'Loading image #%curr%...',
      mainClass: 'mfp-img-mobile',
      gallery: {
        enabled: true,
        navigateByImgClick: true,
        preload: [0,1] // Will preload 0 - before current, and 1 after the current image
      },
      image: {
        tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
        titleSrc: function(item) {
          return item.el.attr('title');
        }
      }
    });
  });
</script>
{% endblock %}