{## 
 # template name: style
 # source: page-home.php 
 #}

{% set hero_top_obj     = TimberImage(post.hero_top) %}
{% set hero_bottom_obj  = TimberImage(post.hero_bottom) %}

{% extends "base.twig" %}
{% block content %}

  {# hero #}
  <section class="hero">
    <img 
      class="respond"
      src="{{ hero_top_obj.src('hero_handheld') }}"
      data-maxwidth767px="{{ hero_top_obj.src('hero_handheld') }}"
      data-maxwidth1024px="{{ hero_top_obj.src('hero_tablet') }}"
      data-minwidth1025px="{{ hero_top_obj.src('hero') }}"
      width="800" height="600" 
      alt="{{ hero_top_obj.thumbnail.alt }}">

    <div class="overlay">
      <h1>Amy &amp; Willie K Reunion</h1>
    </div>
  </section>

  <div class="wrapper">

    <div class="rail">
      {# news #}
      <section class="news">
        <h1 class="panel-header">Latest News</h1>
        {% for post_obj in news %}
          {% set post = TimberPost(post_obj) %}
        <article class="listed">
          <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
          <time datetime="{{ post.post_date | date('Y-m-d') }}">{{ post.post_date | date}}</time>
          <p>{{ post.post_content | excerpt(30) }}</p>
        </article>
        {% endfor %}
      </section>

      {# gallery #}
      <section class="gallery">
        <h1 class="panel-header">Gallery</h1>
        
        {# gallery #}
        {% for i, image_obj in gallery %}
          {% if i <= 3 %}
            {% set img = TimberImage(image_obj) %}
            <a href="?p=5#gallery" class="gallery-thumb large" title="{{ img.alt }}">
              <img src="{{ img.src('gallery_thumb') }}">
              <span class="overlay"></span>
            </a>
          {% endif %}
        {% endfor %}
      </section>

    </div>
    
    {# calendar #}
    <section class="calendar rail">
      <h1 class="panel-header">Upcoming Shows</h1>

      <ul class="gigs">
      {% for show_obj in shows %}
        {% set show = TimberPost(show_obj) %}
        <li class="gig">
          {% if show.venue_website %}
          <a href="{{ show.venue_website }}">
          {% endif %}
            <time datetime="{{ show.show_date | date('Y-m-d') }}">{{ show.show_date | date('m/d/y') }}</time>
            <span class="location">{{ show.city_state }} @ {{ show.venue }}</span>
            <span class="time">{{ show.showtime }}</span>
          {% if show.venue_website %}
          </a>
          {% endif %}
        </li>
      {% endfor %}      
      </ul>
      <a href="?p=22" class="button push-right">See full calendar</a>

    </section>

  </div>

  {# footer hero #}
  <section class="hero">
    <img 
      class="respond"
      src="{{ hero_bottom_obj.src('hero_short_handheld') }}"
      data-maxwidth767px="{{ hero_bottom_obj.src('hero_short_handheld') }}"
      data-maxwidth1024px="{{ hero_bottom_obj.src('hero_short_tablet') }}"
      data-minwidth1025px="{{ hero_bottom_obj.src('hero_short') }}"
      width="800" height="600" 
      alt="{{ hero_bottom_obj.thumbnail.alt }}">
  </section>



{% endblock %}