{% extends "base.twig" %}
{% block content %}
  <div class="wrapper">
    <h1 class="banner">Search Results {{ search_val }}</h1>
    <div class="narrow">

      {# search form #}
      <form action="{{ site.url }}" class="search-header" id="nested-searchform">
        <fieldset class="search-input">
          <input type="search" class="input-search" value="{{ title }}" name="s" required>
          <input type="submit" class="input-submit" value="submit">
        </fieldset>

        <fieldset class="sort">
          {% if results %}
          <span><em>{{ results }}</em> results</span>
          {% else %}
          <span><em>No results.</em> Please enter a new search term.</span>
          {% endif %}
        </fieldset>
      </form>
      {# get posts #}
      {% if results %}
      <div class="posts">
        {% for post in posts %}
        <article class="search-result">

          {# post title #}
          <a href="{{ post.permalink }}">
            <h1 class="small highlightable"><span>{{ post.id | title_check }}</span></h1>
          </a>

          {# post date #}
          <time datetime="{{ post.post_date | date('Y-m-d') }}">{{ post.post_date | date}}</time>

          {# get content, first 200 characters #}
          <p class="highlightable">{{ post.content | striptags | slice(0, 200) }}...</p>
        </article>
        {% endfor %}
      </div>
      {% if posts %}
      {% include "fragments/pagination.twig" %}
      {% endif %}
    </div>
    {% endif %}
  </div>
{% endblock %}
{% block footer_scripts %}
<script type="text/javascript" src="{{ theme.link }}/js/libs/DropKick.js/production/dropkick.min.js"></script>
<script type="text/javascript" src="{{ theme.link }}/js/libs/DropKick.js/plugins/dropkick.jquery.js"></script>
<script type="text/javascript">
  // get the search term from twig

  $(document).ready(function(){
    // Dropkick Config
    $("#sort-by").dropkick({ 'mobile': true })

    // Highlight search terms
    highlightTerms(term);
  });
</script>
{% endblock %}