{## 
 # template name: single post
 # source: single.php 
 #}

{% set hero_top_obj 		= TimberImage(post.hero_top) %}

{% extends "base.twig" %}
{% block content %}
{% include "fragments/hero-title.twig" %}
  <section class="text">
    <div class="wrapper">
      {{ post.content }}

      {# pagination #}
      <nav class="pagination">
        {% if post.prev.permalink %}
        <a href="{{ post.prev.permalink }}" class="prev">{{ post.prev.title }}</a>
        {% endif %}

        {% if post.next.permalink %}
        <a href="{{ post.next.permalink }}" class="next">{{ post.next.title }}</a>
        {% endif %}
      </nav>

    </div>
  </section>
{% endblock %}	