{% extends "base.twig" %}
{% block content %}
  <article class="wrapper single page">
    <h1 class="banner">Chartbuilder</h1> 
    <div class="narrow">
    <form class="search-header" action="/wp-login.php?action=postpass" method="post">
      <fieldset class="search-input">
      	<input class="input-search" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Enter password" size="20" maxlength="20" />
        
      	<input class="input-submit" type="submit" name="Submit" value="Submit" />
      </fieldset>
    </form>
    </div>
  </article>
{% endblock %}
