{% macro get_posts(author_id, current_post) %}
  {% set more_posts = author_id | author_posts(current_post) %}
  {% for post_obj in more_posts %}
  {% set post = TimberPost(post_obj) %}
    <li>
      <a href="{{ post.permalink }}" class="author-article">{{ post.title }}</a>
    </li>
  {% endfor %}
{% endmacro %}