{# fragments / article header #}
<div class="article-header">

	{# category #}
	<a href="{{ post.category.link }}" class="category {{ post.category | sanitize }}">{{ post.category }}</a>

	{% for term in post.terms('tags') %}
	  <a class="tag trending" href="{{term.link}}">{{term.name}}</a>
	{% endfor %}	

	{# post title #}
	<h1 class="medium padded">{{post.title}}</h1>

	{# post date #}
	<time datetime="{{ post.post_date | date('Y-m-d') }}">{{ post.post_date | date}}</time>

	{# author info #}
	{% if post.author_type != "anonymous" %}

		{# if not anonymous #}
		{% if post.authors %}
			{% for author_obj in post.authors %}
			{% set author = TimberPost(author_obj) %}
				{# author names #}
				<span class="byline">
					{{ author.title }}
				</span>

				{# author distinctions #}
				<span class="distinction">
					{{ author.position }} {% if author.preposition != "none" %}{{ author.preposition }}{% endif %} {{ author.organization }}
				</span>
			{% endfor %}
		{% endif %}

	{# if anonymous #}
	{% else %}
		<span class="byline">{{ post.id | anonymous_filter }}</span>
	{% endif %}

</div>