{# author info #}
{% import "macros/show-author-posts.twig" as author_posts %}



{# author info #}
{% if post.author_type != "anonymous" %}
	{% if post.authors %}
		{% for author_obj in post.authors %}
		{% set author = TimberPost(author_obj) %}
		<section class="author {% if author.thumbnail %}has-portrait{% endif %}">
			<div class="wrapper narrow">

				{# portrait #}
				{% if author.thumbnail %}
				<div class="portrait">
					{% set portrait = TimberImage(author.thumbnail) %}
					<img src="{{ portrait.src('thumb_square_big') }}" width="200" height="200" alt="{{ portrait.alt }}">
				</div>
				{% endif %}


				{# text #}
				<div class="text">

					{# author name #}
					<h1 class="author-name">{{ author.name }}</h1>
					<span class="distinction">{{ author.position }} {% if author.preposition != "none" %} {{ author.preposition }} {% endif %} {{ author.organization }}</span>

					{# twitter handle #}
					{% if author.twitter_handle %}
						<a target="_blank" href="http://twitter.com/{{ author.twitter_handle }}" class="twitter-handle">@{{ author.twitter_handle }}</a>
					{% endif %}

					{# author bio #}
					{{ author.content }}

					{# also by author #}
					<ul class="also-by-author">
						{{ author_posts.get_posts(author.id,post.id) }}
					</ul>
				</div>

			</div>
		</section>
		{% endfor %}
	{% endif %}
{% endif %}