{# fragments / feature list #}
<section class="featured">
	<div class="list-wrap">
		<div class="list">

			{# get featured posts and loop through them #}
			{% for feat_obj in general %}
			{% set featured = TimberPost(feat_obj) %}
			<article class="{% if featured.thumbnail %} has-thumb {% endif %}">

				{# if there's a thumb, print it #}
				{% if featured.thumbnail %}
				<a href="{{ featured.permalink }}" class="thumb">
					<img src="{{ featured.thumbnail.src('thumb_square') }}" width="166" height="166" alt="{{ featured.thumbnail.alt }}">
				</a>
				{% endif %}

				{# text / content #}
				<div class="text">

					{# category #}
					<a href="{{ featured.category.link }}" class="category {{ featured.category | sanitize }}">{{ featured.category }}</a>

					{# tags #}
					{% for term in featured.terms('tags') %}
	  				<a class="tag trending" href="{{term.link}}">{{term.name}}</a>
					{% endfor %}	

					{# title #}
					<a href="{{ featured.permalink }}" class="title">
						<h1 class="small {{ featured.article_type }}"><span>{{ featured.id | title_check }}</span></h1>
					</a>


					{# author info #}
					{% if featured.author_type != "anonymous" %}

						{# if not anonymous #}
						{% if featured.authors %}
							{% for author_obj in featured.authors %}
							{% set author = TimberPost(author_obj) %}
								{# author names #}
								<span class="byline">
									{{ author.title }}
								</span>

								{# author distinctions #}
								<span class="distinction">
									{{ author.position }} {% if author.preposition != "none" %}{{ author.preposition }}{% endif %} {{ author.organization }}
								</span>
							{% endfor %}
						{% endif %}

					{# if anonymous #}
					{% else %}
						<span class="byline">{{ featured.id | anonymous_filter }}</span>
					{% endif %}


				</div>
			</article>
			{% endfor %}
		</div>
	</div>
	<div class="single-wrap">
		<div class="single">
			{% for single_obj in single_post %}
			{% set single = TimberPost(single_obj) %}
			<article>

				{# get the image if it exitst #}
				{% if single.thumbnail %}
				<a href="{{ single.permalink }}" class="thumb">
					<img src="{{ single.thumbnail.src('thumb_rectangle') }}" width="293" height="190" alt="{{ single.thumbnail.alt }}">
				</a>
				{% endif %}

				{# print the text #}
				<div class="text">
					
					{# category #}
					<a href="{{ single.category.link }}" class="category {{ single.category | sanitize }}">{{ single.category }}</a>

					{# tags #}
					{% for term in single.terms('tags') %}
	  				<a class="tag trending" href="{{term.link}}">{{term.name}}</a>
					{% endfor %}	

					{# title #}
					<a href="{{ single.permalink }}" class="title">
						<h1 class="small reverse {{ single.article_type }}">
							<span>{{ single.id | title_check }}</span>
						</h1>
					</a>


					{# author info #}
					{% if single.author_type != "anonymous" %}

						{# if not anonymous #}
						{% if single.authors %}
							{% for author_obj in single.authors %}
							{% set author = TimberPost(author_obj) %}
								{# author names #}
								<span class="byline">
									{{ author.title }}
								</span>

								{# author distinctions #}
								<span class="distinction">
									{{ author.position }} {% if author.preposition != "none" %}{{ author.preposition }}{% endif %} {{ author.organization }}
								</span>
							{% endfor %}
						{% endif %}

					{# if anonymous #}
					{% else %}
						<span class="byline">{{ single.id | anonymous_filter }}</span>
					{% endif %}


				</div>
			</article>
			{% endfor %}
		</div>
	</div>
</section>