<footer>
  <div class="wrapper">

    {# contact form #}
    <div class="contact-form">
      <h2 class="reverse">Contact Amy &amp; Willie K</h2>
      <h3>Use the form below to send us a message. Mahalo for your interest!</h3>
      {{ 1 | gravity_tag }}
    </div>

    {# bio info #}
    <div class="bio">

      {# bio #}
      {% if options.brief_bio %}
        {{ options.brief_bio }}
      {% endif %}

      {# contact info #}
      <ul class="contact">
        
        {# address #}
        {% if options.address %}
          <li class="address">{{ options.address }}</li>
        {% endif %}
        
        {# phone #}
        {% if options.phone_number %}
          <li class="phone-number">808-555-5555</li>
        {% endif %}

        {# email #}
        {% if options.email_address %}
          <li class="email-address">{{ options.email_address }}</li>
        {% endif %}
      </ul>

      {# social media #}
      <ul class="social">

        {# facebook #}
        {% if options.facebook_url %}
          <li>
            <a href="{{ options.facebook_url}} " class="facebook">
              <span class="screen-reader-text">Facebook</span>
            </a>
          </li>
        {% endif %}

        {# twitter #}
        {% if options.twitter_url %}  
          <li>
            <a href="{{ options.twitter_url }}" class="twitter">
              <span class="screen-reader-text">Twitter</span>
            </a>
          </li>
        {% endif %}

        {# instagram #}
        {% if options.instagram_url %}  
          <li>
            <a href="{{ options.instagram_url }}" class="instagram">
              <span class="screen-reader-text">Instagram</span>
            </a>
          </li>
        {% endif %}
          
        {# youtube #}  
        {% if options.youtube_url %}
          <li>
            <a href="{{ options.youtube_url }}" class="youtube">
              <span class="screen-reader-text">YouTube</span>
            </a>
          </li>
        {% endif %}

        <li>
          <a href="#" class="rss">
            <span class="screen-reader-text">RSS</span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</footer>
<span class="copyright">&copy; {{ now|date("Y") }}, {{ site.title }}</span>