<header>
  <div class="wrapper">

    {# global logo #}
  	<a class="logo-wrap" href="{{ site.url }}">
      <img src="{{ theme.link }}/images/brand/amy-willie-k-icon.png" alt="{{ site.title }} logo">
  	</a>

    {# navigation toggle - mobile only #}
    <a id="toggle-nav" href="#main-nav">Menu</a>

  </div>
</header>