<section class="hero {% if post.hero_top == "" %}non-heroic{% endif %} ">
    {% if post.hero_top %}
    <img 
      class="respond"
      src="{{ hero_top_obj.src('hero_short_handheld') }}"
      data-maxwidth767px="{{ hero_top_obj.src('hero_short_handheld') }}"
      data-maxwidth1024px="{{ hero_top_obj.src('hero_short_tablet') }}"
      data-minwidth1025px="{{ hero_top_obj.src('hero_short') }}"
      width="800" height="600" 
      alt="{{ hero_top_obj.thumbnail.alt }}">
    <div class="overlay">
      <h1>{{ post.title }}</h1>
    </div>
    {% else %}
      <h1>{{ post.title }}</h1>
    {% endif %}
</section>