{# footer hero #}
{% if hero_bottom_obj %}
<section class="hero">
  <img 
    class="respond"
    src="{{ hero_bottom_obj.src('hero_short_handheld') }}"
    data-maxwidth767px="{{ hero_bottom_obj.src('hero_short_handheld') }}"
    data-maxwidth1024px="{{ hero_bottom_obj.src('hero_short_tablet') }}"
    data-minwidth1025px="{{ hero_bottom_obj.src('hero_short') }}"
    width="800" height="600" 
    alt="{{ hero_bottom_obj.thumbnail.alt }}">
</section>
{% endif %}