{# fragments / in practice #}

	{% for post_obj in in_practice %}
	{% set post = TimberPost(post_obj) %}
	<article class="in-practice {% if post.thumbnail %}has-thumb{% endif %}">
		<div class="narrow">

			{# image, if present #}
			{% if post.thumbnail.src %}
			<a class="thumb" href="{{ post.permalink }}">
				<img src="{{ post.thumbnail.src | resize(178,178,center)  }}" alt="{{ post.thumbnail.alt }}" width="178" height="178">
			</a>
			{% endif %}

			<div class="text">

				{# category #}
				<a href="{{ post.category.link }}" class="category in-practice">{{ post.category }}</a>

				{# time #}
				<time datetime="{{ post.date | date("Y-m-d") }}">{{ post.date }}</time>

				{# title #}
				<a href="{{ post.permalink }}" class="title">
					<h1 class="dark"><span>{{ post.title }}</span></h1>
				</a>
				

				{# author info #}
				{% if post.author_type != "anonymous" %}

					{# if not anonymous #}
					{% if post.authors %}
						{% for author_obj in post.authors %}
						{% set author = TimberPost(author_obj) %}
							{# author names #}
							<span class="byline">
								{{ author.title }}
							</span>

							{# author distinctions #}
							<span class="distinction">
								{{ author.position }} {% if author.preposition != "none" %}{{ author.preposition }}{% endif %} {{ author.organization }}
							</span>
						{% endfor %}
					{% endif %}

				{# if anonymous #}
				{% else %}
					<span class="byline">{{ post.id | anonymous_filter }}</span>
				{% endif %}				
				
				{# see all #}
				<a href="{{ post.category.link }}" class="see-all">See all {{ post.category }}</a>
			</div>
			
		</div>
	</article>
	{% endfor %}