<!doctype html>
<html class="no-js" {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}" />
  {% if wp_title == "" %}
    <title>{{ site.name }} -- {{ site.description }}</title>
  {% else %}
    <title>{{ wp_title }} -- {{ site.name }}</title>
  {% endif %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ post.id | meta_desc_check("meta_description") }}">

  {% set touch_img  = TimberImage(options.touch_icons) %}
  {% set favicon    = TimberImage(options.favicon) %}

  {# facebook #}
  <meta property="og:site_name"             content="{{ site.name }}"> 
  <meta property="og:type"                  content="website"> 
  <meta property="og:url"                   content="{{ post.permalink }}"> 
  <meta property="og:title"                 content="{{ post.id | title_check("og_title") }}"> 
  <meta property="og:description"           content="{{ post.id | desc_check("og_description") }}">
  <meta property="og:image"                 content="{{ post.id | img_check("og_image") }}">

  {# twitter #}
  <meta name="twitter:site"                 content="@{{ options.twitter_handle }}">
  <meta name="twitter:creator"              content="@{{ options.twitter_handle }}">
  <meta name="twitter:title"                content="{{ post.id | title_check("twitter_title") }}">
  <meta name="twitter:description"          content="{{ post.id | desc_check("twitter_description") }}">
  <meta name="twitter:image:src"            content="{{ post.id | img_check("twitter_image") }}">
  <meta name="twitter:domain"               content="{{ site.url }}">  

  {# microsoft #}
  <meta name="msapplication-TileColor"      content="#FFFFFF">
  <meta name="msapplication-TileImage"      content="{{ touch_img | resize(144,144,'center')}}">

  {# icons #}
  <link rel="shortcut icon"                 href="{{ favicon }}">
  <link rel="apple-touch-icon-precomposed"  href="{{ touch_img | resize(57,57,'center')}}"    sizes="57x57">
  <link rel="apple-touch-icon-precomposed"  href="{{ touch_img | resize(72,72,'center')}}"    sizes="72x72">
  <link rel="apple-touch-icon-precomposed"  href="{{ touch_img | resize(76,76,'center')}}"    sizes="76x76">
  <link rel="apple-touch-icon-precomposed"  href="{{ touch_img | resize(114,114,'center')}}"  sizes="114x114">
  <link rel="apple-touch-icon-precomposed"  href="{{ touch_img | resize(120,120,'center')}}"  sizes="120x120">
  <link rel="apple-touch-icon-precomposed"  href="{{ touch_img | resize(144,144,'center')}}"  sizes="144x144">
  <link rel="apple-touch-icon-precomposed"  href="{{ touch_img | resize(152,152,'center')}}"  sizes="152x152">


  {# Typekit Account (Grid license) #}
  <script src="//use.typekit.net/gdd4flq.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>


  <link rel="pingback" href="{{ site.pingback_url }}" />
  <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <script type="text/javascript" src="{{ theme.link }}/header.js"></script>
    {#
    <link rel="stylesheet" media="all" type="text/css" href="{{ theme.link }}/ie.css">
    #}
  <![endif]-->
  {{ function('wp_head') }}

  
</head>