{# fragments / most recent #}
<section class="most-recent">
	<h1>Most Recent</h1>
	<div class="posts">
	{% for post in posts %}
		{% spaceless %}
		<article class="recent">

			{# category #}
			<a href="{{ post.category.link }}" class="category {{ post.category | sanitize }}">{{ post.category }}</a>

			{# tags #}
			{% for term in post.terms('tags') %}
        <a class="tag trending" href="{{term.link}}">{{term.name}}</a>
    	{% endfor %}			

    	{# time #}
			<time datetime="{{ post.date | date("Y-m-d") }}">{{ post.date }}</time>

			{# title #}
			<a href="{{ post.permalink }}" class="title">
				<h1 class="medium {{ post.article_type }}">
					<span>{{ post.id | title_check }}</span>
				</h1>
			</a>


			{# author info #}
			{% if post.author_type != "anonymous" %}

				{# if not anonymous #}
				{% if post.authors %}
					{% for author_obj in post.authors %}
					{% set author = TimberPost(author_obj) %}
						{# author names #}
						<span class="byline">
							{{ author.title }}
						</span>

						{# author distinctions #}
						<span class="distinction">
							{{ author.position }} {% if author.preposition != "none" %}{{ author.preposition }}{% endif %} {{ author.organization }}
						</span>
					{% endfor %}
				{% endif %}

			{# if anonymous #}
			{% else %}
				<span class="byline">{{ post.id | anonymous_filter }}</span>
			{% endif %}


		</article>
		{% endspaceless %}
	{% endfor %}
	</div>
	{% include "fragments/pagination.twig" %}
</section>