<nav class="main" id="main-nav">
  <div class="wrapper">
    
    {# main nav #}
    {% if nav_primary_a.get_items %}
      <ul class="nav primary a" id="primary-nav-a">
      {% for item in nav_primary_a.get_items %}
        <li class="{{item.classes | join(' ')}}">
          <a href="{{ item.get_path }}" class="main-nav-item">{{ item.title }}</a>
        </li> 
      {% endfor %}
      </ul>
    {% endif %}    

    {% if nav_primary_b.get_items %}
      <ul class="nav primary b" id="primary-nav-b">
      {% for item in nav_primary_b.get_items %}
        <li class="{{item.classes | join(' ')}}">
          <a href="{{ item.get_path }}" class="main-nav-item">{{ item.title }}</a>
        </li> 
      {% endfor %}
      </ul>
    {% endif %}    
    
  </div>
</nav>