<div id="pagination">
	{% if pagination.next %}
	<a id="load-more" href="{{pagination.next.link}}" class="button secondary large next {{pagination.next.link|length ? '' : 'invisible'}}">Load <span id="next-count"></span> More</a>
	{% endif %}
</div>

