<section class="related">
	<div class="wrapper">
		
		{% for post_obj in also_in_category %}
		{% set post = TimberPost(post_obj) %}
		<article class="teaser {% if post.thumbnail.src %}has-thumb{%endif %}">

			{# eyebrow #}
			<a href="{{ post.category.link }}" class="category eyebrow {{ post.category | sanitize }}">{{ post.category }}</a>

			{# image #}
			{% if post.thumbnail.src %}
			<a href="#" class="thumb">
				<img src="{{ post.thumbnail.src('thumbnail') }}" width="100" height="100" alt="{{ post.thumbnail.alt }}">
			</a>
			{% endif %}

			{# title #}
			<a href="{{ post.permalink }}" class="title top">
				<h1 class="topic-header"><span>{{ post.id | title_check }}</span></h1>
			</a>

		</article>
		{% endfor %}
		
	</div>
</section>