<form action="{{ site.url }}" class="search-header global"
 id="searchform">
 <div class="wrapper">
	<fieldset class="search-input">
		<input type="search" class="input-search" value="" name="s" required>
		<input type="submit" class="input-submit" value="submit">
	</fieldset>
  </div>
</form>