<section class="selected-articles">
	<div class="wrapper">		
		{% for post_obj in selected_articles %}
		{% set post = TimberPost(post_obj) %}
			<article class="teaser {% if post.thumbnail.src %}has-thumb{% endif %}">
				{% for term in post.terms('tags') %}
					<a class="tag trending" href="{{term.link}}">{{term.name}}</a>
				{% endfor %}	
				{% if post.thumbnail.src %}
				<a href="{{ post.permalink }}" class="thumb">
					<img src="{{ post.thumbnail.src('thumbnail') }}" width="100" height="100" alt="{{ post.thumbnail.alt }}">
				</a>
				{% endif %}
				<a href="{{ post.permalink }}" class="title top">
					<h1 class="topic-header"><span>{{ post.id | title_check }}</span></h1>
				</a>
			</article>
		{% endfor %}
	</div>
</section>