<ul class="social">
  <li>
    <a href="#" class="facebook">
      <span class="screen-reader-text">Facebook</a>
    </a>
  </li>
  <li>
    <a href="#" class="twitter">
      <span class="screen-reader-text">Twitter</span>
    </a>
  </li>
  <li>
    <a href="#" class="linkedin">
      <span class="screen-reader-text">LinkedIn</span>
    </a>
  </li>
  <li>
    <a href="#" class="email">
      <span class="screen-reader-text">Email</span>
    </a>
  </li>
  <li>
    <a href="#" class="sharethis">
      <span class="screen-reader-text">ShareThis</span>
    </a>
  </li>
</ul>