{# test how reusable the article is #}
<article>
	<a href="#" class="category">Geopolitics</a>
	<a href="#" class="tag">Davos</a>
	<a href="#" class="title large">
		<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</h1>
	</a>
	<a href="#" class="byline">Brock Meeks</a>
	<span class="distinction">Author of <em>lorem ipsum dolor</em></span>
</article>