// 
// Fragments / Footer
// ------------------------------

footer
  min-height: 500px
  @include span-columns(12)
  padding: 40px 0
  background: #333333

  .wrapper
    > div
      @include span-columns(12)

    @include breakpoint(desktop)

      > div
        @include span-columns(6)

  h2, h3
    @include span-columns(10)
    margin-bottom: 10px

  h3
    margin-bottom: 30px

  p
    @include sans(medium)
    color: $white

  .contact-form
    margin-bottom: 40px

  .contact
    @include span-columns(12)
    margin: 40px 0


  // contact list items
  li
    color: $white
    @include span-columns(12)
    padding: 5px 0

    &:before
      color: $primary-b
      width: 30px
      display: inline-block


    &.address
      @include icon($fa-var-map-marker, before)

    &.phone-number
      @include icon($fa-var-phone, before)

    &.email-address
      @include icon($fa-var-envelope, before)

  .social
    @include span-columns(12)

    li
      display: inline-block
      width: auto

    a
      @include font-size(1.5)
      color: $primary-b
      @include transition(color 0.35s)

      &:hover
        color: lighten($primary-b, 10%)

      &.facebook
        @include icon($fa-var-facebook, before)

      &.twitter
        @include icon($fa-var-twitter, before)

      &.instagram
        @include icon($fa-var-instagram, before)

      &.youtube
        @include icon($fa-var-youtube, before)

      &.rss
        @include icon($fa-var-rss, before)