// 
// Fragments / Header
// ------------------------------

header
  background: $white
  height: 70px

  // Logo and container
  .logo-wrap
    display: block
    width: 100px
    padding-top: 7px
    margin-left: -20px

    @include breakpoint(desktop)
      width: 206px
      position: absolute
      margin-left: 50%
      left: -103px
      z-index: 999

  // Nav toggle, mobile only
  #toggle-nav
    position: absolute
    top: 28px
    right: 28px
    color: $black
    text-transform: uppercase
    @include font-size(0.8)
    @include transition(color 0.35s)
    letter-spacing: 1px

    &:hover
      color: $primary-a

    @include breakpoint(desktop)
      display: none

