// 
// Fragments / Header
// ------------------------------

nav
  &.main
    position: relative
    background-color: $white
    height: 0
    overflow: hidden
    @include box-sizing(border-box)
    max-height: 240px
    @include transition(height 0.25s)

    li
      padding: 10px 0
      display: block
      text-align: center

      &.current_page_item
        a
          color: $primary-a

          &:after
            color: #333333

    a
      display: block

    &.active
      padding: 0 0 20px
      height: 230px


    @include breakpoint(desktop)
      height: auto
      position: absolute
      background-color: transparent
      top: 25px
      width: 100%


      li
        display: inline-block
        padding: 0
        text-align: auto

        a
          @include font-size(1)

          &:after
            content: " · "
            @include sans(bold)
            margin: 0 24px


        &:last-child
          a
            &:after
              content: ""
              display: none

      .a
        float: left

      .b
        float: right

  &.pagination
    @include span-columns(12)
    padding: 40px 0 100px

    a
      @include sans(medium)
      @extend button
      background: $white
      border: 1px solid #eaeaea
      color: #333333
      @include transition(color 0.35s)

      &:hover
        background: $white
        color: $primary-a

      &.prev
        float: left

        @include icon($fa-var-angle-left, before)

        &:before
          margin-right: 5px

      &.next
        float: right

        @include icon($fa-var-angle-right, after)

        &:after
          margin-left: 5px