// 
// Modules / Calendar
// ------------------------------

.gigs
  @include span-columns(12)
  margin-bottom: 40px

.gig
  @include span-columns(12)
  padding: 15px 10px
  border-bottom: 1px solid #eaeaea
  background-color: $white
  @include span-columns(12)
  color: #464646
  @include font-size(0.9)
  @include line-height(1.25)
  @include transition(background-color 0.5s)

  &:last-of-type
    border-bottom: 0px

  &:hover
    background-color: lighten($primary-b, 40%)
    
  a
    color: #464646

    .location
      @include icon($fa-var-arrow-circle-right, after)

      &:after
        margin-left: 10px


  time
    @include span-columns(3)

  .location
    @include span-columns(7)

  .time
    @include span-columns(2) 
    text-align: right
    text-transform: lowercase

  @include breakpoint(handheld)
    time,
    .location,
    .time
      display: block
      @include span-columns(12)
      text-align: left
      margin-bottom: 5px


  &:last-child
    a
      border-bottom: 0