// 
// Modules / Listed News
// ------------------------------

.listed
  @include span-columns(12)
  border-bottom: 1px solid #eaeaea
  padding: 0 0 15px
  margin: 0 0 15px

  &:last-child
    padding: 0px
    border: none

  h2
    margin: 0 0 5px

    a
      color: #333
      @include transition(color 0.35s)

      &:hover
        color: $primary-a

  time
    color: #999999
    font-style: italic
    display: block
    margin: 0 0 10px
    @include font-size(0.9)