// 
// Elements / Links
// ------------------------------

a
  text-decoration: none

  &.main-nav-item
    @include sans
    text-transform: uppercase
    @include font-size(0.9)
    color: $black
    letter-spacing: 1px

  
  // Global edit button for site
  &.edit-page
    position: fixed
    bottom: 0px
    right: 20px
    @include sans
    text-transform: uppercase
    color: $white
    background-color: $primary-a
    padding: 10px 30px
    letter-spacing: 3px
    @include font-size(0.8)
    @include transition(all 0.25s)
    z-index: 999

    &:hover
      padding-bottom: 20px
      background-color: darken($primary-a, 10%)

  // Gallery thumbnail
  &.gallery-thumb
    margin-bottom: 2.35765%
    position: relative

    // Desktop
    @include breakpoint(desktop)
      @include span-columns(2)

      &:nth-child(6n+1)
        @include omega

    // Tablet    
    @include breakpoint(tablet)
      @include span-columns(3)

      &:nth-child(4n+1)
        @include omega    

    // Handheld
    @include breakpoint(handheld)
      @include span-columns(4)

      &:nth-child(3n+1)
        @include omega        

    &.large
      // Desktop
      @include breakpoint(desktop)
        @include span-columns(6)

        &:nth-child(2n+1)
          @include omega

      // Tablet    
      @include breakpoint(tablet)
        @include span-columns(3)

        &:nth-child(4n+1)
          @include omega    

      // Handheld
      @include breakpoint(handheld)
        @include span-columns(6)

        &:nth-child(2n+1)
          @include omega 

    .overlay
      position: absolute
      top: 0
      right: 0
      bottom: 3px
      left: 0
      border: 0px solid rgba(0,0,0,0.25)
      @include transition(border 0.35s)

      &:hover 
        border: 10px solid rgba(0,0,0,0.25)


    
