// 
// Elements / Form
// ------------------------------

form
  margin: 20px 0

  .gform_validation_container
    display: none

  .validation_message,
  .validation_error
    display: block
    color: $primary-a
    @include span-columns(12)
    @include font-size(0.8)
    @include line-height(1.125)
    @include sans(bold)
    padding: 5px 0

  .validation_error
    @include span-columns(10)
    margin-bottom: 20px

  li,
  .gform_footer
    @include span-columns(12)
    padding-bottom: 20px !important

// Standard element set
label
  display: block 
  color: $white
  text-transform: uppercase
  @include font-size(0.8)
  margin-bottom: 5px

input[type=text],
input[type=email],
textarea
  padding: 5px 7px
  @include font-size(0.9)
  @include line-height(1.25)
  @include sans
  background-color: #454545
  border: none
  color: $white
  resize: none
  @include span-columns(12)

  @include breakpoint(desktop)
    @include span-columns(10)

input[type=submit],
.button,
button
  border: none
  background-color: $primary-b
  border-radius: 0
  @include sans
  text-transform: uppercase
  color: $white
  @include font-size(0.8)
  letter-spacing: 1px
  @include transition(background-color 0.35s)
  cursor: pointer
  padding: 8px 30px

  &:hover
    background-color: lighten($primary-b, 10%)

  &.push-right
    float: right


#gform_ajax_spinner_1
  display: none !important