// 
// Elements / Headers
// ------------------------------

h1
  &.panel-header
    padding: 10px 20px
    background: #464646
    @include sans(medium)
    color: $white
    @include font-size(1.25)
    @include line-height(1.5)
    letter-spacing: 1px
    text-transform: uppercase
    margin-bottom: 20px

h2
  @include sans(medium)
  color: #464646
  @include font-size(1.25)
  @include line-height(1.5)
  letter-spacing: 1px
  text-transform: uppercase
  margin-bottom: 20px

  &.reverse
    color: $white

h3
  @include font-size(1.125)
  @include line-height(1.5)
  color: #bebebe