// 
// Elements / Section
// ------------------------------

section
  @include span-columns(12)

  // Hero
  &.hero
    text-align: center
    background: $primary-b
    position: relative

    img
      float: left

    .overlay
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 1
      background: rgba(0,0,0,0.5)

    h1
      @include sans(medium)
      color: $white
      position: absolute
      height: 60px
      top: 50%
      margin-top: -20px
      text-align: center
      width: 100%
      @include font-size(3.75)
      text-transform: uppercase
      letter-spacing: 5px

      @include breakpoint(handheld)
        @include font-size(2.5)

    &.non-heroic
      height: 200px
      background: $white
      border-bottom: 1px solid #eaeaea

      h1
        color: #333


  &.gallery
    padding: 40px 0 100px

  &.text
    padding: 40px 0
    
    .wrapper
      max-width: 600px
      margin: 0 auto 40px

      h1, h2, h3
        @include sans(medium)
        text-transform: uppercase
        color: $primary-a
        margin-bottom: 20px

      h1
        @include font-size(2.0)

      h2
        @include font-size(1.5)

      h3
        @include font-size(1.25)

      p, li
        @include font-size(1.125)
        @include line-height(2.0)

        a
          color: $primary-a
          text-decoration: underline
          @include transition(color 0.35s)

          &:hover
            color: $primary-b

      ul, ol
        margin-left: 40px
        margin-bottom: 40px

      ul
        list-style-type: disc

      ol
        list-style-type: decimal

      blockquote, blockquote p
        @include sans(light)
        @include font-size(2.0)
        @include line-height(2.5)
        font-style: italic
        margin: 0
        color: #666

      blockquote
        padding: 40px 0
        margin: 40px 0
        border-top: 1px solid #eaeaea
        border-bottom: 1px solid #eaeaea

      img
        max-width: 100%

      
  &.calendar
    padding-bottom: 100px

    .wrapper
      max-width: 600px
      margin: 0 auto 40px