// 
// Elements / Span
// ------------------------------

span
  &.copyright
    @include span-columns(12)
    @include sans
    @include font-size(0.8)
    color: darken($white, 30%)
    text-transform: uppercase
    text-align: center
    display: block
    padding: 20px 0 100px

