// 
// Elements / Unordered Lists
// ------------------------------

ul

  // Navigation elements
  &.nav
    a
      @include sans(medium)
      @include transition(color 0.35s)

      &:hover
        color: $primary-a


  // Primary nav
  &.primary
    a
      color: #333


  // Footer nav
  &.footer
    margin: 0 0 20px

    li
      padding: 5px 0

    a
      @include sans(semibold)
      @include font-size(1.5)
      color: $primary-a


  // Legal
  &.legal
    margin: 0 0 20px
    
    a
      @include serif
      @include font-size(0.8)
      color: $white


  // Utility nav
  &.utility
    a
      color: #999


  // Social nav
  &.social
    margin: 0 0 20px

    li
      display: inline-block
      margin: 0 20px 0 0

    a
      color: $white
      @include font-size(0.7)